<div class="flex justify-center items-center min-h-screen">
    <%=link_to random_questions_path,  data: { turbo: false }, class: "box1 inline-flex justify-center items-center font-semibold text-white focus:outline-none focus:ring-3 focus:ring-gray-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" do %>
        仲間とマッチング
    <% end %>
</div>