<%= form_with model: [post, comment], local: false, id: 'new_comment' do |f| %>
    <div class="flex max-w-[85rem] mx-auto">
        <div class="w-3/4 px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
            <%= f.label :content, 'コメント' %>
            <%= f.text_area :content, id: 'js-new-comment-content', rows: 3, class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400", placeholder: "コメント入力" %>
        </div>
        <div class="w-2/4 flex items-center justify-center mt-5">
            <button type="submit" class="py-4 px-10 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-gray-600 text-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">投稿</button>
        </div>
    </div>
<% end %>






