<div class="flex justify-center items-center h-screen">
  <div data-controller="question">
    <%=link_to random_questions_path, class: "box1 inline-flex justify-center items-center font-semibold text-white focus:outline-none focus:ring-3 focus:ring-gray-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" do %>
      子育てマインド<br>チェック開始
    <% end %>
    <div data-question-target="container">
    </div>
  </div>
</div>

