<% if object.errors.any? %>
    <div class="alert alert-error bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
        <ul>
        <% object.errors.full_messages.each do |message|%>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>