<div class="fixed top-0 left-0 right-0 flex items-center justify-center pointer-events-none">
    <% flash.each do |type, message| %>
        <div class="flash_message" data-controller="removals" data-action="animationend->removals#remove">
            <div class="sm:w-full <%= flash_class(type) %> py-4 px-6">
                <span class="block sm:inline"><%= message %></span>
            </div>
        </div>
    <% end %>
</div>