<%= link_to edit_album_path(album), 
    id: "button-edit-#{album.id}",
    data: { turbo_frame: "modal" } do %>
    <span class="icon-link">
        <i class="fa-solid fa-pen" style="color: #adafb3;"></i>
    </span>    
<% end %>
<%= button_to album_path(album),
    method: :delete,
    id: "button-delete-#{album.id}", 
    form: { data: { turbo_confirm: "本当に削除しますか？" }} do %>   
    <span class="icon-link">
        <i class="fa-solid fa-trash" style="color: #adafb3;"></i>
    </span>   
<% end %>