<div style="background-image: url('<%= asset_path('bg.png') %>');">
    <%= image_tag 'album.png' %>
    <!-- スライダー -->
    <div class="flex items-center justify-center" >
        <div data-controller="albumslider" >
            <div class="swiper" data-albumslider-target="slider">
                <div class="swiper-container slider">    
                    <div class="swiper-wrapper">
                        <% @albums.each do |album| %>
                            <div class="swiper-slide">
                                <%= link_to image_tag(album.album_image.url), album_path(album), data: { turbo_frame: "modal"}, class: "rounded-lg" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
                    <!-- サムネイル -->
            <div class="swiper-container slider-thumbnail" data-albumslider-target="sliderThumbnail">
                <div class="swiper-wrapper">
                    <% @albums.each do |album| %>
                        <div class="swiper-slide overflow-x-auto">
                            <%= image_tag image_path(album.album_image.url), alt: "Album Thumbnail" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>