<%= link_to edit_post_path(post), 
    id: "button-edit-#{post.id}",
    data: { turbo_frame: "modal" } do %>
    <span class="icon-link mr-4">
        <i class="fa-solid fa-pen" style="color: #adafb3;"></i>
    </span>    
<% end %>
<%= button_to post_path(post),
    method: :delete,
    id: "button-delete-#{post.id}", 
    form: { data: { turbo_confirm: t('defaults.message.delete_confirm') }} do %>   
    <span class="icon-link">
        <i class="fa-solid fa-trash" style="color: #adafb3;"></i>
    </span>   
<% end %>
    
