<% if @posts.present? %>
	<%= render 'shared', @post %>
<% else %>
    <div class="flex items-center justify-center h-[300px]">
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center py-10 ">
                <p>投稿はありません</p> 
            </div>
        </div>
    </div>
<% end %>