<turbo-frame id="comment-list">
	<div data-albam-modal-target="modal">
		<%= render "modal" do %>
			<%= render 'comments/form', { post: @post, comment: @comment } %>
			<%= render 'comments/comments', { comments: @comments } %> 
		<% end %>
	</div>
</turbo-frame>