@tailwind base;
@tailwind components;
@tailwind utilities;

.font{
    font-family: 'Zen Maru Gothic';
}

/*カテゴリー*/
.eat{
    background-color: #db8787;
}
    
.school{
    background-color: #e4eb9f;
}

.mother_in_law{
    background-color: #cd7eae;
}

.sickness {
    background-color: cadetblue;
}

.wife-husband {
    background-color: rgb(120, 162, 229);
}

.friend {
    background-color: rgb(232, 169, 125);
}

.baby {
    background-color: rgb(178, 236, 119);
}

.infant {
    background-color: #a553e4;
}

.child {
    background-color: rgb(140, 149, 149);
}

.youth {
    background-color: rgb(236, 191, 132);
}

.money {
    background-color: #ece525;
}

.others {
    background-color: rgb(230, 110, 110);
}

/*TOPスタートボタン*/
.box1{
    width:300px;
    height:300px;
    background:rgb(220, 222, 107);
    border-radius:50%;
    box-shadow: 0 15px 0 rgb(186, 188, 95);
    font-size: 30px;
    font-family: 'Zen Maru Gothic';
    border: none;
    line-height: 1.5;
}

.box1:active {
    box-shadow: none;
    transform: translateY(5px);
    background:rgb(212, 213, 160);
}

.pie-chart-container {
    background-color: #f1f5f9; 
}
